!makefile*
!Makefile*
!MAKEFILE*

#ignore

*.o
*.out
*.gch
*.pyc
makefile_help/test
threads/class_in_thread/test
threads/simpleMutex/withoutMutex
threads/simpleMutex/simpleMutex
threads/threadwithinput/test
threads/threadwithinput/threadWithInput
auto/auto
stl/iterator/iterator
threads/semaphore/semaphore
ipc/named_pipes/named_pipe_writer
ipc/named_pipes/named_pipe_reader
ipc/fork_pipes/pipes
oop/copyconstruct/deepcopy
oop/copyconstruct/shallowcopy
oop/initializerList/initializerList
oop/friend/friend
oop/inheritance/inheritance
oop/inheritance/inheritance
oop/virtualfunc/virtualfunc
openmp/helloworld/helloworld
openmp/forloop/forloop
**/bin/*